<div class="row">
  <div class="filter-recipes col-md-12">
    <router-outlet name="filter"></router-outlet>
    <!-- <app-filter-recipes></app-filter-recipes> -->
  </div>
</div>
<div class="row">
  <div class="fallow-user col-md-2">
    <router-outlet name="fallow-user"></router-outlet>
    <!-- <app-fallow-user-list></app-fallow-user-list> -->


  </div>
  <div class="recipe-list col-md-10">
    <router-outlet name="recipes"></router-outlet>
    <!-- <app-recipe-list></app-recipe-list> -->
  </div>
</div>

