<div class="card ml-3 mt-3" style="width: 18rem">
  <a class="opacity-hover" [routerLink]="['/recipeDetail/', recipe.id]">
    <img
      src="{{ recipe.photoUrl || '../../../../../assets/dish.png' }}"
      class="card-img-top"
      alt="..."
    />
  </a>
  <a
    ><i
      class="btn btn-default fas fa-minus-circle fa-1x float-right m-2"
      (click)="removeRecipe(recipe.id)"
    ></i
  ></a>
  <div class="card-body pt-0">
    <h5 class="card-title">{{ recipe.name | titlecase }}</h5>
    <p class="card-text">{{ recipe.description }}</p>
    <div>
      <rating [max]="5" [(ngModel)]="rate" [customTemplate]="tt"></rating>

        <!-- <pre
          class="card-block card-header"
          style="margin: 15px 0"
        > <b>(<i>Rate:</i> {{rate}})</b> </pre> -->

      <ng-template #tt let-i="index" let-v="value">
        <button class="btn btn-{{ i < v ? 'default' : 'default' }}">
          {{ i < v ? "&#9733;" : "&#9734;" }}
        </button>
      </ng-template>
    </div>
    <div class="float-right">
      <a [routerLink]="['/recipeEdit/', recipe.id]" class="btn btn-outline-info">
        <i class="far fa-edit mr-1"></i>Edit</a
      >
      <a
        [routerLink]="['/recipeDetail/', recipe.id]"
        class="btn btn-outline-primary ml-2"
      >
        <i class="fas fa-utensils mr-1"></i>View</a
      >
    </div>
  </div>
</div>
