<div class="card ml-3 mt-3" style="width: 18rem;">
  <img src="{{recipe.photoUrl ||  '../../../../../assets/dish.png'}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{recipe.name}}</h5>
    <p class="card-text">{{recipe.description}}</p>
    <div class="float-right">
      <a [routerLink]="['/recipeEdit/',recipe.id]"  class="btn btn-info">Edit</a>
      <a [routerLink]="['/recipeDetail/',recipe.id]"  class="btn btn-primary ml-2">View</a>
    </div>
  </div>
</div>
