<div class="container mt-5">
  <div *ngIf="!registerMode && !registerApproved" style="text-align: center">
    <h1>Cook what you love</h1>
    <p class="lead">Come on in to save and share your recipes... All you need to do is sign up!</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-3" (click)="registerToggle()" >Register</button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
  </div>

  <div *ngIf="registerMode"  class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register [valuesFromHome]="registerMode"
        (cancelRegistration)="cancelRegistrationMode($event)"
        (registrationApproved)="registrationApprovedMode($event)">

        </app-register>
      </div>
    </div>
  </div>
</div>
