<!-- <img src="..." alt="..." class="rounded-circle"> -->
<!-- <div class="row align-content-center">
  <i class="fas fa-user-plus fa-4x ml-5 mt-3"></i>
</div> -->


<div class="container">
<div class="row ml-2">
  <label>Currently you follow</label>
</div>
<div class="ml-4" *ngFor="let user of followUsers">

  <div class="row" >
    <a (click)="userDetail(user)" class="img">

      <img src="{{ user?.urlPhoto }}" class="img-thumbnail rounded-circle" alt="..." />

        <span *ngIf="(notificationCount > 0 && user.followerId === 1)" matBadge="{{notificationCount}}" matBadgeOverlap="true" matBadgeColor="warn"></span>

    </a>
      <label class="ml-4">{{user.username}}</label>
  </div>
</div>

<div class="ml-4 mb-4 mt-3" *ngIf="followUsers?.length === 0" style="width: 7rem;">

  <div class="row" >
    <a class="img shakeit">
      <img src="../../../assets/userLight.png" class="img-thumbnail rounded-circle " alt="..." />
    </a>
      <label class="ml-4 font-weight-bold">Friend Name</label>
  </div>
</div>


<div class="row form-group ml-2">
  <label>Add friend to follow:</label>
  <input type="text" class="form-control" name="name" placeholder="Search...."
    [formControl]="control"
    [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let item of filteredUsers | async" (onSelectionChange)="fallowUser(item)" [value]="item.userName">
      {{item.userName}}
    </mat-option>
  </mat-autocomplete>
</div>

</div>

