
  <!-- <ul>
    <li>id: number;</li>
    <li>name: string;</li>
    <li>description: string;</li>
    <li>photoUrl: string;</li>
    <li>created: Date;</li>
    <li>tips: string;</li>
    <li>allowShare: boolean;</li>
    <li>ingredients: Ingredients[];</li>
    <li>steps: Steps[];</li>
  </ul> -->
<div class="container">
  <form class="" (ngSubmit)="onSubmit()" >
    <div class="form-group">
      <label for="formGroupExampleInput">Name</label>
      <input type="text" class="form-control" name="name" placeholder="">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Description</label>
      <input type="text" class="form-control" name="description" placeholder="">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Ingredients</label>
      <div class="form-row">
        <div class="col-2">
          <input type="text" class="form-control" placeholder="Quantity">
        </div>
        <div class="col-1">
          <input type="text" class="form-control" placeholder="Lb,pcs,lt....">
        </div>
        <div class="col-2">
          <input type="text" class="form-control" placeholder="Name">
        </div>
        <button type="button" class="btn btn-warning">Remove</button>
        <button type="button" class="btn btn-success ml-2">Add</button>
      </div>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Steps</label>
      <div class="form-row">
        <div class="col-1">
          <input type="text" class="form-control" placeholder="Number">
        </div>
        <div class="col-2">
          <input type="text" class="form-control" placeholder="Description">
        </div>
        <button type="button" class="btn btn-warning">Remove</button>
        <button type="button" class="btn btn-success ml-2">Add</button>
      </div>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Photo</label>
      <input type="text" class="form-control" name="photoUrl" placeholder="Another input placeholder">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Tips</label>
      <input type="text" class="form-control" name="tips" placeholder="Another input placeholder">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Share</label>
      <input type="checkbox" class="ml-3" id="form-control" name="share" placeholder="">
    </div>
  </form>
  <button type="button" class="btn btn-primary" routerLink="/home">Back</button>
  <button type="submit" class="btn btn-success ml-3">Save</button>

</div>




