input[type="file"] {
  display: none;
}
.custom-file-upload {
  cursor: pointer;
  border: dashed;
  border-color: dimgrey;
  border-width: 2px;

}
.radio-group-share {
  margin-top: 5%;
}

.radio-margin {
  margin: 0 40px;
}
