
<div class="row">

  <div class="col-md-2"></div>
  <div class="col-md-3 ml-5 mt-3 mb-3 search">
    <span><i class="fas fa-search"></i></span>
    <input class="form-control" type="search" name="search" placeholder="Search...." (input)="byName($event)"
    [formControl]="control"
    [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let item of filteredUserAndRecipes | async" (onSelectionChange)="SelectedUserOrRecipe(item)" [value]="item.userName">
        {{item}}
      </mat-option>
    </mat-autocomplete>
  </div>


  <div class="col-md-2">
    <div class="form-group row ml-3">
      <button class="mt-3 btn btn-light advancedSearch-icon" (click)="advancedSearchToggle()" ><i class="fas fa-sliders-h size fa-1x"></i> Filters</button>


    </div>

  </div>
  <div class="col-md-2 m-3">
    <button type="button" [routerLink]="['/recipeCreate']"  class="btn btn-outline-success">
      <i class="fas fa-plus mr-1"></i>Add recipe</button>
  </div>
</div>

<div class="row container" *ngIf="">
  <div class="col-md-3"></div>

  <label class="mt-auto" for="">Type: </label>
  <div class="dropdown mt-2" dropdown>
    <button class="btn dropdown-toggle" dropdownToggle>
      {{typeSlected}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *dropdownMenu>
      <div *ngFor="let type of types" >
        <a class="dropdown-item" (click)="byType(type)" >{{type}}</a>
      </div>
    </div>
  </div>
</div>




